:root{
	--body-bg-color: #fff;
	--body-home-color:#F3F3F7;
	--sign-into-color:#41B64D;
	--sign-bag-color:#FFFFFF;
	--header-icon-color:#41B64D;
	--nav-bag-color:rgba(65, 182, 77, 0.25);
	--sign-info-color:#2B3844;
	--sign-read-color:#41B64D;
	--sign-bag-color:#fff;
    --sign-full-bag-color:#F3F3F7;
    --p-color: #2B3844;
    --button-img-name:#2B3844;
    --input-color:#ACB6BE;
    --info-color:#fff;
    --nav-name:#212B36;
    --info-button-num:#4D4D4D;
    --input-into-color:#000;
    --sign-share-color:#333333;


}
.dark{
	--body-bg-color: #2B3844;
	--body-home-color:#202C36;
	--sign-into-color:#F27851;
	--sign-bag-color: #2B3844;
	--header-icon-color:#F27851;
	--nav-bag-color:rgba(242, 120, 81, 0.5);
	--sign-info-color:#FFFFFF;
	--sign-read-color:#F27851;
    --sign-full-bag-color:#202C36;
    --p-color: #fff;
    --button-img-name:#F27851;
    --input-color:#fff;
    --info-color:#F27851;
    --nav-name:#fff;
    --info-button-num:#fff;
    --input-into-color:#fff;
    --sign-share-color:#fff;





}
